<section ng-controller="HomeController">
  <section class="ui banner">
    <div class="ui center aligned grid">
      <div class="item column">
        <h1 class="title title-lines">
          <span ng-bind="today | date:'dd MMMM, yyyy'"></span>
        </h1>
        <h3 class="subtitle" ng-bind="mainCaption"></h3>
        <a class="ui register button" ng-show="!authentication.user" ui-sref="authentication.signup">Register</a>
        <a class="ui watch button" href="#" data-gal="prettyPhoto">Watch Video</a>
      </div>
    </div>
  </section>
  <section class="ui vertically padded main container">
    <h1 class="ui center aligned red header">Smart <span class="ui red">Night Service</span></h1>
    <p>
      Mauris a massa id leo aliquam consequat porttitor vitae est. Proin ultricies velit sed porttitor viverra. Pellen-tesque eget tristique est. Donec volutpat, eros et bibendum lacinia Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    </p>
    <br />
    <div class="ui three column grid">
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">JS'S Music</div>
            <div class="meta">
              <!--<div class="ui heart rating" data-rating="1" data-max-rating="3"></div>-->
            </div>
            <div class="description">
              Offers custom pub/bar search options to meet your music taste and mood.
            </div>
          </div>
          <div class="image">
            <img src="/modules/core/client/img/brand/service-img1.jpg">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">DRINK BAR</div>
            <div class="meta">
              <!--<div class="ui heart rating" data-rating="1" data-max-rating="3"></div>-->
            </div>
            <div class="description">
              Are you particular about the quality of drinks consumed, search no more...
            </div>
          </div>
          <div class="image">
            <img src="/modules/core/client/img/brand/service-img2.jpg">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="ui fluid card">
          <div class="content">
            <div class="header">RESTAURANT</div>
            <div class="meta">
              <!--<div class="ui heart rating" data-rating="1" data-max-rating="3"></div>-->
            </div>
            <div class="description">
              You definitely meet up with awesome new friends, you'll wish you met earlier.
            </div>
          </div>
          <div class="image">
            <img src="/modules/core/client/img/brand/service-img3.jpg">
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
