<section>
  <div class="page-header">
    <h1>Locations</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="location in vm.locations"
       ui-sref="locations.view({ locationId: location._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="location.created | date:'mediumDate'"></span>
        by
        <span ng-if="location.user" ng-bind="location.user.displayName"></span>
        <span ng-if="!location.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="location.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.locations.$resolved && !vm.locations.length">
    No Locations yet, why don't you <a ui-sref="locations.create">create one</a>?
  </div>
</section>
