<section class="ui very vertically padded centered locations container" ng-controller="LocationsListController">
  <h1 class="ui red dividing header">Locations Search List</h1>
  <div class="ui two column grid segment">
    <div class="ui dimmer" ng-class="{ 'active': vm.locations.loading }">
      <div class="ui text loader" ng-class="{ 'active': vm.locations.loading }">Searching...</div>
    </div>
    <div id="locations" class="seven wide column">
      <div class="ui huge middle aligned animated selection list">
        <div class="item" ng-repeat="business in vm.businesses" ng-click="vm.getLocation(business)">
          <img class="ui avatar image" ng-src="{{business.image_url}}">
          <div class="content">
            <div class="header" ng-bind="business.name"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="nine wide column" ui-view></div>
  </div>
</section>
