<div class="ui inverted dimmer" ng-class="{ 'active': vm.location.loading }">
  <div class="ui loader" ng-class="{ 'active': vm.location.loading }"></div>
</div>
<div class="ui sticky fluid centered raised card">
  <div class="content">
    <div class="header"><a ng-href="{{vm.location.url}}" target="_blank">{{vm.location.name}}</a></div>
    <div>
      Category:
      <span ng-repeat="category in vm.location.categories">
        {{category[0]}},
      </span>
    </div>
    <div class="meta">
      <img ng-src="{{vm.location.rating_img_url}}" /> {{vm.location.review_count}} reviews
      <div class="right floated">
        <span class="like">
          <i class="like icon"></i>
          Like
        </span>
        <span class="star">
          <i class="star icon"></i>
          Favorite
        </span>
      </div>
    </div>
    <br />
    <div class="ui stackable grid">
      <div class="four wide column">
        <img class="ui compact image" ng-src="{{vm.location.image_url}}">
      </div>
      <div class="twelve wide column description">
        <p ng-bind="vm.location.snippet_text"></p>
      </div>
    </div>
  </div>
  <div class="extra content">
    <div>
      Address:
      <span ng-repeat="addr in vm.location.location['display_address']">
        {{addr}},
      </span>
    </div>
    <div>Phone: {{vm.location.display_phone}}</div>
  </div>
  <div class="ui bottom attached">
    <div class="ui button" ng-class="{ 'red': vm.location.isGoing, 'green': !vm.location.isGoing }" ng-click="vm.save()">
      <i class="icon" ng-class="{ 'remove': vm.location.isGoing, 'add': !vm.location.isGoing }"></i>
      {{!vm.location.isGoing ? 'Going' : 'Not Going' }}
    </div>
    <span>{{vm.location.goingCount}} going</span>
  </div>
</div>
<div ng-show="vm.error" class="ui mini negative message">
  <strong ng-bind="vm.error"></strong>
</div>
