.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.open .header-profile-image,
a:hover .header-profile-image {
  opacity: 1;
}
.user-header-dropdown-toggle {
  padding-top: 11px !important;
  padding-bottom: 11px !important;
}
.error-text {
  display: none;
}
.has-error .help-block.error-text {
  display: block;
}
.has-error .help-inline.error-text {
  display: inline;
}



.banner {
  background: #0E1619 url(../img/brand/banner-img.jpg) no-repeat scroll 50% 25%/ cover;
}

.ui.menu{
  background-color:rgba(0, 0, 0, 0.5) !important;
}

/*Top Navigation*/
header {
  width: 100%;
  height: 150px;
  /*overflow: hidden;*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color:rgba(0, 0, 0, 0.5);
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

header img.logo {
  display: inline-block;
  height: 150px;
  width: 150px !important;
  line-height: 150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

/*Menu*/
header a.item {
  line-height: 150px;
  font-weight: 700;
  font-size: 18px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  color: #fff !important;
  transition: all 0.3s ease;
}

header a.item:hover {
  border-bottom: 3px solid red !important;
  color: red !important;
}

header .ui.image {
  opacity: 0.8;
  height: 45px !important;
  width: 45px !important;
  margin-right: 10px;
}

header.smaller {
  height: 75px;
}

header.smaller img.logo {
  height: 75px;
  width: 75px !important;
}

header.smaller a {
  line-height: 75px;
}

/*Main Content*/
.ui.banner {
  padding-top: 150px;
  padding-bottom: 50px;
  color: #fff !important;
}

.ui.banner .item {
    display: block;
    width: 100%;
    min-height: 500px;
    /*margin-top: 300px;*/
}

.ui.banner .item .title-lines {
    text-align: center;
    width: 100%;
    margin-top: 75px;
}

.ui.banner .item .title-lines span, .ui.banner .item .title span {
     display: inline-block;
    position: relative;
    font-family: 'PT Sans';
    color: #fff;
    text-transform: uppercase;
    font-size: 56px;
    font-weight: normal !important;
}

.ui.banner .item h3 {
    text-align: center;
    font-family: 'Oswald';
    color: #fff;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 40px;
}

.ui.banner .ui.button {
    text-align: center;
    border: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.3s  ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    color: #fff !important;
    transition: all 0.3s ease;
}

.ui.banner .ui.button:hover {
    border: 1px solid #fff;
    background-color: rgba(255, 255, 255, 0.6);
    color: red !important;
}

.main.container {
  background-color: #fff;
  color: #000 !important;
}

.main.container h1:first-child{
  text-transform: uppercase;
}

.vertically.padded{
  padding-top: 100px;
  padding-bottom: 100px;
}

.very.vertically.padded{
  padding-top: 200px;
  padding-bottom: 100px;
}
